@import url("../src/vendor/normalize.css");
@import url("../src/fonts/fonts.css");
@import url("../src/blocks/button/button.css");
@import url("../src/blocks/button/_opacity/button_opacity_l.css");
@import url("../src/blocks/button/_opacity/button_opacity_m.css");
@import url("../src/blocks/button/_opacity/button_opacity_h.css");
@import url("../src/blocks/button/_clear/button_clear.css");
@import url("../src/blocks/button/_border/button_border_m.css");
@import url("../src/blocks/button/_border/button_border_sm.css");
@import url("../src/blocks/button/_inactive/button_inactive.css");
@import url("../src/blocks/app/app.css");
@import url("../src/blocks/popup/popup.css");
@import url("../src/blocks/popup/_opened/popup_opened.css");
@import url("../src/blocks/popup/__close/popup__close.css");
@import url("../src/blocks/popup/__close/_place/popup__close_place_tooltip.css");
@import url("../src/blocks/popup/__container/popup__container.css");
@import url("../src/blocks/popup/__form-set/popup__form-set.css");
@import url("../src/blocks/popup/__submit-btn/popup__submit-btn.css");
@import url("../src/blocks/popup/__input-error/popup__input-error.css");
@import url("../src/blocks/popup/__input-text/popup__input-text.css");
@import url("../src/blocks/popup/__input-text/_type/popup__input-text_type_error.css");
@import url("../src/blocks/popup/__title/popup__title.css");
@import url("../src/blocks/popup/__img/popup__img.css");
@import url("../src/blocks/popup/_type/popup_type_img.css");
@import url("../src/blocks/popup/__img-container/popup__img-container.css");
@import url("../src/blocks/popup/__img-title/popup__img-title.css");
@import url("../src/blocks/popup/__close/_place/popup__close_place_img.css");
@import url("../src/blocks/header/header.css");
@import url("../src/blocks/header/__logo/header__logo.css");
@import url("../src/blocks/authe/__form/authe__form.css");
@import url("../src/blocks/authe/__input/authe__input.css");
@import url("../src/blocks/authe/__welcome/authe__welcome.css");
@import url("../src/blocks/authe/__button-container/authe__button-container.css");
@import url("../src/blocks/authe/__link/authe__link.css");
@import url("../src/blocks/authe/__text/authe__text.css");
@import url("../src/blocks/authe/__btn/authe__btn.css");
@import url("../src/blocks/tooltip/__img/tooltip__img.css");
@import url("../src/blocks/tooltip/__text/tooltip__text.css");
@import url("../src/blocks/profile/profile.css");
@import url("../src/blocks/profile/__edit-avatar/profile__edit-avatar.css");
@import url("../src/blocks/profile/__img/profile__img.css");
@import url("../src/blocks/profile/__error/profile__error.css");
@import url("../src/blocks/profile/__avatar/profile__avatar.css");
@import url("../src/blocks/profile/__info/profile__info.css");
@import url("../src/blocks/profile/__text/profile__text.css");
@import url("../src/blocks/profile/__name/profile__name.css");
@import url("../src/blocks/profile/__about-me/profile__about-me.css");
@import url("../src/blocks/profile/__edit-btn/profile__edit-btn.css");
@import url("../src/blocks/profile/__add-btn/profile__add-btn.css");
@import url("../src/blocks/gallery/gallery.css");
@import url("../src/blocks/gallery/__list/gallery__list.css");
@import url("../src/blocks/gallery/__item/gallery__item.css");
@import url("../src/blocks/gallery/__item-img/gallery__item-img.css");
@import url("../src/blocks/gallery/__item-footer/gallery__item-footer.css");
@import url("../src/blocks/gallery/__like-btn/gallery__like-btn.css");
@import url("../src/blocks/gallery/__like/gllery__like.css");
@import url("../src/blocks/gallery/__like-count/gllery__like-count.css");
@import url("../src/blocks/gallery/__item-trash-btn/gallery__item-trash-btn_visible.css");
@import url("../src/blocks/gallery/__item-trash-btn/gallery__item-trash-btn_hidden.css");
@import url("../src/blocks/gallery/__like-btn/_active/gallery__like-btn_active.css");
@import url("../src/blocks/gallery/__item-name/gallery__item-name.css");
@import url("../src/blocks/footer/footer.css");
@import url("../src/blocks/footer/__author/footer__author.css");